.options {
  background-color: #fff;
}

.options li {
  list-style-type: none;
  padding: 0;
}

.options > li {
  border-bottom: 1px solid #e8e7e6;
}

.options ul li {
  padding: 0 15px;
}

.sectionHeading {
  color: rgb(43, 43, 43);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: block;
  padding: 1rem;
  -webkit-user-select: none;
}

.sectionHeading:hover {
  cursor: pointer;
}

.sectionHeadingIcon {
  float: left;
  margin-right: 10px;
  position: relative;
  top: -3px;
}

.toggleIcon {
  float: right;
}

.active, .inactive {
  transition-duration: 0.3s;
  transition-property: transform;
}

.active {
  transform: rotate(90deg);
}

.inactive {
  transform: rotate(0deg);
}
