.options {
  padding: 20px;
  background-color: #fff;
}

.options li {
  list-style-type: none;
  padding: 0;
}

.sectionHeading {
  margin: 0 0 0.7rem;
  color: rgb(43, 43, 43);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.sectionHeadingIcon {
  float: left;
  margin-right: 10px;
  position: relative;
  top: -3px;
}
