.button {
  cursor: pointer;
  margin: 0 4px 3px 0;
  height: 35px;
  border-bottom: 1px solid #a7a6a2;
  border-radius: 3px;
  color: #666463;
  background: #dbd9d7;
  font-size: inherit;
}

.selected {
  background: #fff;
}

.small {
  width: 64px;
  min-width: 64px;
}

.panel {
  width: 100%;
  border-radius: 0;
  border: none;
  text-align: left;
  padding: 12px 15px 12px 45px;
  height: auto;
  position: relative;
}

.panelButtonIcon {
  position: absolute;
  top: 1px;
  left: 15px;
}

.huge {
  height: 50px;
  font-size: 17px;
  width: 48%;
  line-height: 1;
  float: left;
  position: relative;
}

.huge:after {
  position: absolute;
  font-family: Chess;
  font-weight: 400;
  font-style: normal;
  speak: none;
  color: #8c8a88;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\003F';
  right: 15px;
  top: 16px;
  padding-left: 15px;
}

.huge:nth-child(2) {
  margin-right: 0;
  float: right;
}

.hugeButtonIcon {
  line-height: .8;
}

.btn.btn-arrow:after {
  position: relative;
  left: 5px;
  padding-left: 5px;
  font-family: Chess;
  font-weight: 400;
  font-style: normal;
  speak: none;
  color: #8c8a88;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\003F';
}

.button:nth-child(4n+4) {
  margin-right: 0;
}

.button:hover {
  background: #bfbeba;
  color: #312e2b;
}
