.row {
  padding-bottom: 10px;
}

label {
  font-size: 0.8rem;
  line-height: 1.8rem;
  font-weight: 500;
}

.arrow {
  display: block;
  float: right;
  position: absolute;
  top: 40%;
  right: 10%;
}

.resetButton {
  cursor: pointer;
  float: right;
  margin-right: 5px;
  padding-top: 3px;
}

.row:hover .resetButton i {
  color: #8c8a88 !important;
}
