.header {
  padding: 15px;
  height: 55px;
  font-size: 13px;
  overflow: hidden;
}

.header img {
  float: left;
}

.userInfo {
  float: right;
  color: #fff;
}

.btn {
  cursor: pointer;
  float: right;
  background: #e4902d;
  color: white;
  padding: 0 13px;
  border-radius: 3px;
  height: 25px;
}

.userInfo img {
  margin: 0 0 0 15px;
  float: right;
}

.username {
  margin: 4px 0 -4px;
  max-width: 140px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  opacity: .8;
}

.home {
  display: inline-block;
  margin: 0.5rem;
}

.home:hover {
  cursor: pointer;
}
