.notificationBar{
	background: white;
	padding: 10px 0px 10px 0px;
}
.notificationBar div {      
	position:relative;
    display:inline-block;
	margin-left: 20%;	
}
.notificationBar div span{
    position: absolute;
    right:-20px;
    top:10px;
    background:red;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color:white;
    padding: 0px 5px 0px 5px;
    font-size:10px;
}