.notificationBar {
	padding: 10px 0px 10px 0px;
}
.notificationBar div {      
	position:relative;
    display:inline-block;
	margin-left: 20%;	
}
.notificationBar div span span {
    position: absolute;
    right:-20px;
    top:10px;
    background: #b43430;
    color: white;
    text-align: center;
    padding: 0px 5px 0px 5px;
    font-size:12px;    
    font-weight: bold;
    border-radius: 30px 30px 30px 30px;
}