.resetBar {  
  background: #f1f1f1;
}

.resetBar div {
  display:inline-block;
	position:relative;  
  margin-bottom: 3px;
}

.resetIcon {
  float: left;
  margin-right: 5px;
}

.resetButton {
  left: 5px;
  padding: 5px;
  width: 70%;
}

.resetButton > div {
  font-weight: bold;
  font-size: 12px;
  line-height: -20px;
  color: #8c8a88;
}

.resetButton > div i {
  position: relative;
  margin-right: 5px;
  top: 3px;
}

.resetButton > div:hover {
  cursor: pointer;
  color: rgb(80, 80, 80);
}

.suggestionsIcon {
  position: relative;
  top: -2px;
  float: left;
  margin-right: 3px;
}

.suggestions {
  color: #8c8a88;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  right: 5%;
}

.suggestions:hover {
  color: rgb(80, 80, 80);
  cursor: pointer;
}

.suggestions:focus {
  outline: none;
}
