.normal {
  background: #000;
  margin: 0px 0 40px 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
  /*padding: 5px 20px 50px*/
}

.normal input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.normal input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.title {
  font-size: 14px;
  color: white;
}

.icon {
  float: left;
  margin-right: 10px;
}

.logo {
  float: left;
  margin-left: 10px;
}

.header {
  overflow: auto;
  padding: 10px;
  text-align: center;
}

.main {
  padding: 20px;
  background-color: #fff;
  clear: both;
}

.sectionHeading {
  margin-top: 0;
  color: #666463;
  font-size: 16px;
  font-weight: normal;
}

.sectionHeading img {
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.suggestions {
  color: #e6912c;
  text-align: center;
  position: absolute;
  bottom: -30px;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  right: 5%;
}

.suggestions:focus {
  outline: none;
}

.option {
  width: 100%;
  padding: 10px 0;
}

.option span {
  padding-left: 30px;
}

.option input {
  width: 50px;
  margin-right: 10px;
}


.option button {
  border-radius: 2px;
  padding: 10px;
  background-color: #e6912c;
  color: white;
  font-weight: bold;
}

.option button:hover {
  cursor: pointer;
}

/*

.normal h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

*/
