doctype html

html
  head
    meta(charset='UTF-8')
    title Chess.com Browser Extension
    //link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic,300italic,300', rel='stylesheet', type='text/css')

  body
    #root
    script(src=env == 'prod' ? '/js/options.bundle.js' : 'https://localhost:3000/js/options.bundle.js')
