doctype html

html
  head
    meta(charset='UTF-8')
    title Chess.com Browser Extension

  body
    #root
    script(src=env == 'prod' ? '/js/popup.bundle.js' : 'https://localhost:3000/js/popup.bundle.js')
